*{
    margin: 0;
    padding: 0;
}
body{
	font-family: arial;
	margin: 0;
	background-color: #fff;
}

#wrapper{
	width: 90%;
    min-width: 750px;
	margin: 0 auto;
	background: #eeeeef;
}

#header{
    width: 90%;
    max-width: 750px;
    text-align: center;
    padding: 10px 10px;
    margin: 0 auto;
    color: #e03e3e;
    background: #eeeeef;
}

#header img{
    height: 100px;
    width: 110px;
    display: block;
    padding: 10px;
    margin: 10px auto;
}

#header h1{
    font-weight: 600;
    text-align: center;
}

#header p{
    color: #000;
    padding: 5px;
    font-size: 15px
}

#drop-down ul li {
    display:block;
    position: absolute;
    background-color: black;
}

nav{
    width: 100%;
    min-width: 750px;
    height: 60px;
    background-color: #e03e3e;
}

nav p a{
    font-family: arial;
    color: #eee8aa;
    font-weight: bold;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
    text-decoration: none;
}
nav ul{
   float: left;
    
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: arial;
    color: #fff;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: #eee8aa;
    padding: 8px;
    border-radius: 0px 4px; 
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a{
    padding: 8px 14px;
    color: #e03e3e;
    text-transform:capitalize;
}

nav ul li ul li {
    width: 280px;
    border-radius: 0px 4px;
}

nav ul li ul li a:hover{
    background-color: #f3f3f3;
    font-weight: bold;
}

#lead-banner img{
    width: 100%;
    max-width: 1200px;
}

#main-content{
    text-align: center;
    font-size: 14.5px;
    padding: 20px;
    margin: 10px;
    min-width: 500px;
}

#main-content p{
    line-height: 22px;
    padding: 10px;
    font-size: 15px;
}

#main-content h2{
    color: #26618f;
    text-transform: uppercase;
    padding: 10px;
}

#main-content h3{
    font-weight: bold;
    color: #e03e3e;
    padding: 10px;
}


#main-content img{
    width: 70%;
    height: 100%;
    max-width: 1200px;
    padding: 15px;
}
#footer-banner{
    padding: 2px;
    background: #E03E3E;
    min-width: 750px;
    width: 100%;
}

#footer-banner img{
    width: 100%;
}

#footer-banner a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display:inline-block;
    font-size: 12px;
    border-radius: 4px;
    padding: 10px;
    width: 250px;
    margin: 20px auto;
    text-align: center;
}

#footer-banner a:hover{
    color: #e03e3e;
    background: #eee8aa;
}

#main-content iframe{
    padding: 20px;
    height:250px;
    width:520px;
    margin: 20px;
    max-width: 520px;
}

#main-content figcaption{
    font-size: 11px;
    font-style: italic;
}

#scroll-up{
  display: none;
  position: fixed;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

table{
    width: 500px;
    margin: 15px auto;
}

th{
    text-align: center;
}

table,th,td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th,td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 4px;
}

tr:nth-child(odd){
    background: rgb(224,62,62,0.8);
}

tr:nth-child(even){
    background: #eee8aa;
}

tr:first-child{
    background: #26618f;
    color: #fff
}
