/*Styling for web page*/

body{
	font-family: arial;
	margin: 0;
	background-color: #fff;
}

#wrapper{
	width: 980px;
	margin: 0 auto;
	background: #fff;
}

#header{
    text-align: center;
    padding: 10px 0;
    color: #e03e3e;
    background: #eeeeef;
}

#header img{
    height: 100px;
    width: 110px;
    display: block;
    padding: 10px;
    margin: 10px auto;
}

#header h1{
    font-weight: 600;
}

#header p{
    color: #000;
}

nav{
    display: none;
}

#lead-banner img{
    width: 100%;
}

#main-content{
    text-align: center;
    font-size: 14px;
    padding: 20px;
    margin: 10px 0;
}
#footer-banner{
    padding: 10px;
    background: #E03E3E;
}
#footer-banner img{
    width: 100%;
    
}

#footer-banner a{
    display: none;
}

#main-content iframe{
    display: none;
}