@import url("https://fonts.googleapis.com/css?family=Abel");
#header{
	color: white;
	text-align:center;
}

#content{
	padding:10px;
}

.topnav{
	display:none;
}
#main{
	width: 600px;
	float: right;
}

.footer{
	display:none;
}
div{
		
}
body{
	font: times;
}
h1,h2,h3{
	font-family: 'Abel';
}
p{
	font-family: times;
	color: black;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	text-indent: 2em;
}
ul{
	font-family: times;
	font-size: 14px;
	list-style-type: none;
}
a{
	color: #000;
	text-decoration: none;
}