
h1{
	color: white;
	text-align: center;
	background-color: E03E3E;
	font-family: "ff-meta-web-pro",sans-serif;
}

h2,h3,h4{
	color: #E03E3E;
	
}

p{
	color: black; 
	font-family: "ff-meta-web-pro",sans-serif;
	font-size:15px;
	text-align: justify;
}
.thick {
	color: black; 
	font-family: "ff-meta-web-pro",sans-serif;
	font-size:14px;
	font-weight: bold;
}

.header {
  background-color: #E03E3E;
  padding: 10px;
  text-align: center;
  font-family: "ff-meta-web-pro",sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #E03E3E;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: "ff-meta-web-pro",sans-serif;

}
a {
	display: block;
	color: ##E03E3E;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: "ff-meta-web-pro",sans-serif;
}
/* Change color on hover */
.topnav a:hover {
	background-color: white;
	color: #E03E3E;
  
}
/* Create three unequal columns that floats next to each other */
.column {
	float: left;
	padding: 10px;
	font-family: "ff-meta-web-pro",sans-serif;
	font-size: 14px;
}

/* Left and right column */
.column.side {
	width: 15%;
	font-family: "ff-meta-web-pro",sans-serif;
	font-size: 14px;
	background-repeat: repeat-y;
	float:left;
}

/* Middle column */
.column.middle {
	width: 70%;
	font-family: "ff-meta-web-pro",sans-serif;
	font-size: 14px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Footer */
.footer {
	padding: 10px;
	text-align: center;
	background: #E03E3E;
	margin-top: 20px;
	font-family: "ff-meta-web-pro",sans-serif;

}

/* card effect for articles */
.card {
  background-color: #E4E4E4;
  padding: 20px;
  margin-top: 20px;
}

/* when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
	width: 100%;
	padding: 0;
  }
}

/* when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
}
  
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

img{
	width: 100%;
	height: auto;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.left {
	width: 100%;
	height: auto;
	padding: 20px;
	display: block;
	margin-left: 200px;
	margin-right: auto;
}
body{
	background-color: white;
    font-family: "ff-meta-web-pro",sans-serif;
	padding: 10px;
    font-size: 16px;
    color: #151d2d;
}
figure{
	font-family: "ff-meta-web-pro",sans-serif;
	font-size:14px;
	font-weight: bold;
		width: 500px;
	height: 100px;
	height: auto;
	padding: 20px;
	margin: inherit;
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: center;
}
table#t01 tr:nth-child(even) {
  background-color: #E03E3E;
}
table#t01 tr:nth-child(odd) {
 background-color: white;
}
table#t01 th {
  background-color: #151d2d;
  color: white;
}